.example-container>* {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.workBox {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    padding: 2%;
}

.top-margin {
    margin-top: 80px;
}

.bordrRight {
    border-left: .5px solid;
}

.header {
    background: wheat;
    font-weight: 300;
}

.header:hover {
    border-left: 7px red solid;
    transition: border-left 200ms linear;
}

//Google map
#map {
    height: 100%;
    transition: border-left 200ms linear;
}

.inputHead h6 {
    font-weight: 450;
}

.list h5 {
    font-weight: 500;
    padding: 9px;
}

.list {
    background: #e7e5e5;
    font-weight: 450;
    padding: 9px;
}

.details {
    background: #e7e5e5;
    font-weight: 400;
    padding: 9px;
    border-bottom: .5px solid #f7f7a1;
}
.tablepadding{
    padding:10px;
    padding-left: 10px;
    padding-right:10px;  
}
.fullWidth{
    width: 100%;
}


.btn-primary {
    background-color: #000000 !important;
}
::ng-deep mat-horizontal-stepper .mat-step-header .mat-step-icon {
    background-color: #000000;
   
}
.list-group-item{ border: none !important; background-color: transparent !important;}