<div class="container top-margin">
    <h2 class="text-center h1 py-5"> Fleets</h2>
    <!--Section description-->
    <p class="text-center mb-5">
           <b>Below is a listing of our fleet of vehicles that are available for your perusal. Our fleet of cars are all long wheelbase cars. These types of vehicles, having a long wheelbase, has historically always ranked number one in the transport industry for premium class transportation.</b> 
    </p>
<!--Rotating card-->
<div class="row mt-2">
        <div class="col-md-4  mt-2">
                <mdb-card-rotating #cards>
                <!--Front Side-->
                <div class="face front tp-box_side tp-box_front">
            
                    <!-- Image-->
                    <div class="card-up">
                    <img src="assets/images/sedan.jpg" class="img-fluid">
                    </div>
                    <!--Avatar-->
                    <!--Content-->
                    <div class="card-body">
                    <h4>Executive Sedan</h4>
                    <p>Capacity: 3 standard size bags and three passengers.</p>
                    <!--Triggering button-->
                    <a class="btn btn-primary " data-card="card-1" (click)="cards.toggle()">
                        More Detail</a>
                    </div>
                </div>
                <!--/.Front Side-->
            
                <!--Back Side-->
                <div class="back tp-box_side tp-box_back">
            
                    <!--Content-->
                    <h4>Executive Sedan</h4>
                    <hr>
                    <p>
                            The Lincoln MKT or similar full-sized executive class sedans have become the standard for most business and frequent travelers. Elegantly appointed with numerous amenities and built for ease of comfort, these safe full-sized vehicles are the most popular choice for melbourne Luxury airport arrivals and transfers, commuting, and days trips.
                    </p>
                    <hr>
                    <!--Social Icons-->
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-1" (click)="cards.toggle()">
                    <i class="fa fa-undo"></i> Click here to rotate back</a>
            
                </div>
                <!--/.Back Side-->
                </mdb-card-rotating>
        </div>
        <div class="col-md-4  mt-2">
                <mdb-card-rotating #cards1>
                <!--Front Side-->
                <div class="face front tp-box_side tp-box_front">
            
                    <!-- Image-->
                    <div class="card-up">
                    <img src="assets/images/sedan.jpg" class="img-fluid">
                    </div>
                    <!--Avatar-->
                    <!--Content-->
                    <div class="card-body">
                    <h4>Lexus</h4>
                    <p>Capacity: 3 standard size bags and three passengers.</p>
                    <!--Triggering button-->
                    <a class="btn btn-primary " data-card="card-2" (click)="cards1.toggle()">
                        More Detail</a>
                    </div>
                </div>
                <!--/.Front Side-->
            
                <!--Back Side-->
                <div class="back tp-box_side tp-box_back">
            
                    <!--Content-->
                    <h4>Executive Sedan</h4>
                    <hr>
                    <p>
                        For some elite clients, only a Lexus will do. Lexus has earned itself a well-deserved reputation for turning out utterly refined luxury vehicles. The hallmarks of this brand are a quiet, well-crafted cabin, a plush ride and commendable performance from powerful, nearly silent engines. Enjoy the exhilaration of riding on one of our luxury Lexus vehicles.
                    </p>
                    <hr>
                    <!--Social Icons-->
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-2" (click)="cards1.toggle()">
                    <i class="fa fa-undo"></i> Click here to rotate back</a>
            
                </div>
                <!--/.Back Side-->
                </mdb-card-rotating>
        </div>
        <div class="col-md-4 mt-2">
                <mdb-card-rotating #cards2>
                <!--Front Side-->
                <div class="face front tp-box_side tp-box_front">
            
                    <!-- Image-->
                    <div class="card-up">
                    <img src="assets/images/sedan.jpg" class="img-fluid">
                    </div>
                    <!--Avatar-->
                    <!--Content-->
                    <div class="card-body">
                    <h4>Luxury Sedan</h4>
                    <p>Capacity: 3 standard size bags and three passengers.</p>
                    <!--Triggering button-->
                    <a class="btn btn-primary " data-card="card-1" (click)="cards2.toggle()">
                        More Detail</a>
                    </div>
                </div>
                <!--/.Front Side-->
            
                <!--Back Side-->
                <div class="back tp-box_side tp-box_back">
            
                    <!--Content-->
                    <h4>Luxury Sedan</h4>
                    <hr>
                    <p>
                        The Mercedes Benz S550 provides the ultimate in luxury, style, and service. With sleek, smooth, sturdy design, this stylish top-of-the-line vehicle is ideal for even the most demanding passengers. Standard amenities include tinted windows, large vanity mirrors, reading lamps, auxiliary power adapters, and a rear control panel for AC and stereo.
                    </p>
                    <hr>
                    <!--Social Icons-->
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-1" (click)="cards2.toggle()">
                    <i class="fa fa-undo"></i> Click here to rotate back</a>
            
                </div>
                <!--/.Back Side-->
                </mdb-card-rotating>
        </div>
</div>
<div class="row  mt-2">
        <div class="col-md-4 mt-2">
                <mdb-card-rotating #cards3>
                <!--Front Side-->
                <div class="face front tp-box_side tp-box_front">
            
                    <!-- Image-->
                    <div class="card-up">
                    <img src="assets/images/sedan.jpg" class="img-fluid">
                    </div>
                    <!--Avatar-->
                    <!--Content-->
                    <div class="card-body">
                    <h4>Executive SUV</h4>
                    <p>Capacity: 4 standard size bags and six passengers</p>
                    <!--Triggering button-->
                    <a class="btn btn-primary " data-card="card-1" (click)="cards3.toggle()">
                        More Detail</a>
                    </div>
                </div>
                <!--/.Front Side-->
            
                <!--Back Side-->
                <div class="back tp-box_side tp-box_back">
            
                    <!--Content-->
                    <h4>Executive SUV</h4>
                    <hr>
                    <p>
                        Today's SUVs have now become the standard of excellence for both business and leisure travel when transporting a crowd. These SUVs are fully loaded and ultra-luxurious. They also provide both the extra space needed for passengers as well as luggage for the city to Airport transfers Melbourne. They are great for enjoying a comfortable ride for longer trips.
                    </p>
                    <hr>
                    <!--Social Icons-->
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-1" (click)="cards3.toggle()">
                    <i class="fa fa-undo"></i> Click here to rotate back</a>
            
                </div>
                <!--/.Back Side-->
                </mdb-card-rotating>
        </div>
        <div class="col-md-4 mt-2">
                <mdb-card-rotating #cards4>
                <!--Front Side-->
                <div class="face front tp-box_side tp-box_front">
            
                    <!-- Image-->
                    <div class="card-up">
                    <img src="assets/images/sedan.jpg" class="img-fluid">
                    </div>
                    <!--Avatar-->
                    <!--Content-->
                    <div class="card-body">
                    <h4>Limousine</h4>
                    <p>Capacity: 3 standard size bags and eight passengers</p>
                    <!--Triggering button-->
                    <a class="btn btn-primary " data-card="card-2" (click)="cards4.toggle()">
                        More Detail</a>
                    </div>
                </div>
                <!--/.Front Side-->
            
                <!--Back Side-->
                <div class="back tp-box_side tp-box_back">
            
                    <!--Content-->
                    <h4>Limousine</h4>
                    <hr>
                    <p>
                            The stretch limousine is the ultimate choice for a special night out on the town or a special event. Our stretch limousines are also luxuriously appointed, most being the sophisticated black with all black interiors, full console lighting, and lovely cut crystal glassware with ice storage. All our vehicles are equipped with CDs player, LED TVs and MP3 connectors. Romantic setting with style and class. While the 8-passenger size is the most popular, we also have a few 6 and ten passenger vehicles which are available upon request.
                    </p>
                    <hr>
                    <!--Social Icons-->
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-2" (click)="cards4.toggle()">
                    <i class="fa fa-undo"></i> Click here to rotate back</a>
            
                </div>
                <!--/.Back Side-->
                </mdb-card-rotating>
        </div>
        <div class="col-md-4 mt-2">
                <mdb-card-rotating #cards5>
                <!--Front Side-->
                <div class="face front tp-box_side tp-box_front">
            
                    <!-- Image-->
                    <div class="card-up">
                    <img src="assets/images/sedan.jpg" class="img-fluid">
                    </div>
                    <!--Avatar-->
                    <!--Content-->
                    <div class="card-body">
                    <h4>Executive Van</h4>
                    <p>Capacity: 10 Passengers, 10 Bags or 14 Passengers, No Storage</p>
                    <!--Triggering button-->
                    <a class="btn btn-primary " data-card="card-1" (click)="cards5.toggle()">
                        More Detail</a>
                    </div>
                </div>
                <!--/.Front Side-->
            
                <!--Back Side-->
                <div class="back tp-box_side tp-box_back">
            
                    <!--Content-->
                    <h4>Executive Van</h4>
                    <hr>
                    <p>
                            Suitable for efficiently transporting small groups with or without the need for luggage area, the Executive van offers the flexibility of easily removable seat options to allow use for corporate events, group outings, and shuttle services.
                    </p>
                    <hr>
                    <!--Social Icons-->
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-1" (click)="cards5.toggle()">
                    <i class="fa fa-undo"></i> Click here to rotate back</a>
            
                </div>
                <!--/.Back Side-->
                </mdb-card-rotating>
        </div>
</div>
<div class="row justify-content-md-center  mt-2">
        <div class="col-md-4  mt-2">
                <mdb-card-rotating #cards6>
                <!--Front Side-->
                <div class="face front tp-box_side tp-box_front">
                    <!-- Image-->
                    <div class="card-up">
                    <img src="assets/images/sedan.jpg" class="img-fluid">
                    </div>
                    <!--Avatar-->
                    <!--Content-->
                    <div class="card-body">
                    <h4>Luxury Wagons</h4>
                    <p>Capacity 14 standard bags and 14 passengers</p>
                    <!--Triggering button-->
                    <a class="btn btn-primary " data-card="card-1" (click)="cards6.toggle()">
                        More Detail</a>
                    </div>
                </div>
                <!--/.Front Side-->
            
                <!--Back Side-->
                <div class="back tp-box_side tp-box_back">
            
                    <!--Content-->
                    <h4>Luxury Wagons</h4>
                    <hr>
                    <p>
                            The Luxury Wagons is available in various Passenger configurations and provides maximum passenger comfort according to our customers. With nearly six full feet of headroom, comfortable high-backed passenger seats, and a convenient enclosed rear luggage area, this is the perfect melbourne city to airport Luxury cabs transfer choice for mid-sized groups, for roadshows, executive conferences, and sporting events.
                    </p>
                    <hr>
                    <!--Social Icons-->
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-1" (click)="cards6.toggle()">
                    <i class="fa fa-undo"></i> Click here to rotate back</a>
            
                </div>
                <!--/.Back Side-->
                </mdb-card-rotating>
        </div>
        <div class="col-md-4 mt-2">
                <mdb-card-rotating #cards7>
                <!--Front Side-->
                <div class="face front tp-box_side tp-box_front">
            
                    <!-- Image-->
                    <div class="card-up">
                    <img src="assets/images/sedan.jpg" class="img-fluid">
                    </div>
                    <!--Avatar-->
                    <!--Content-->
                    <div class="card-body">
                    <h4>Maxi-Taxi</h4>
                    <p>Capacity: 11 standard bags and 11 passengers</p>
                    <!--Triggering button-->
                    <a class="btn btn-primary " data-card="card-2" (click)="cards7.toggle()">
                        More Detail</a>
                    </div>
                </div>
                <!--/.Front Side-->
            
                <!--Back Side-->
                <div class="back tp-box_side tp-box_back">
            
                    <!--Content-->
                    <h4>Maxi-Taxi</h4>
                    <hr>
                    <p>
                            Ideal for an executive corporate cars melbourne outing, the Maxi-Taxi is the perfect choice to move larger groups of people in complete style and comfort in a single vehicle. This option is best as you only need one car to carry everyone rather than having to take 2 or 3 cars. Usually configured for 11 passengers, maxi-taxis offer special high-back seating, with full legroom and headroom, and a separate lower luggage compartment. Standard amenities include CD players, TVs and MP3 connectors, as well as tall panorama windows, well suited for sightseeing.
                            Maxi Taxi costs $14 extra and is wheelchair accessible.
                    </p>
                    <hr>
                    <!--Social Icons-->
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-2" (click)="cards7.toggle()">
                    <i class="fa fa-undo"></i> Click here to rotate back</a>
            
                </div>
                <!--/.Back Side-->
                </mdb-card-rotating>
        </div>
        
</div>

  <!--/.Rotating card-->
              
</div>