<div class="container top-margin ">
    <h2 class="text-center h1 py-4"> About-us</h2>
    <!--Section description-->
    <div class="paddingAbout">
    <p class="mb-3  h6 textLine py-3">
           <b> LuxoCabs – Best Luxury Cabs in Melbourne </b>- is the most-trusted prestigious ground transportation company in all of the Melbourne area. For white-glove luxury service and affordable rates in coastal southeastern Victoria, there is no other in which to compare top luxury cabs Melbourne.     
    </p>
    <p class="mb-3 h6 textLine py-2">
            When you ride with us, you will know that you are partaking of exceptional and professional travel to virtually any destination you desire.  We can accommodate your every travel request if it is within our means. Our utmost desire is to provide you with the utmost of luxurious, reliable experiences; whether you require a ride to the airport or home from the hospital, we strive for perfection.     
    </p>
    <p class="mb-3 h6 textLine py-2">
            That perfection entails having you arrive at your destination refreshed and relaxed, ready for whatever is next in store. You will be promptly greeted by a professional driver with a pleasant demeanor, who is there to accommodate you and get you to where you need to go in the most optimal manner possible.     
    </p>
    <p class="mb-3 h6 textLine py-2">
            You are greeted with one of our 500 luxury fleet. Each of our vehicles is in pristine working condition and stocked with provisions, as per previously arranged.  We strive to deliver our executive-class services, all at competitive rates.    
    </p>
    <p class="mb-3 h6 textLine py-2">
            For more than ten years, LuxoCabs has – and will continue to thrive on being dependable, loyal, and worthy of your business. Available round the clock, 24x7, we are ready to transport you and your party to the destination of your choice. We are the premier choice of Melbourne, Tullamarine, and Avalon Airports. Offering the most extensive fleet of Melbourne Luxury City Cabs services, we are here to serve you.      
    </p>
    <p class="mb-3 h6 textLine py-2">
            Whether it's the happy occasion of a wedding or a special prom night, a corporate meeting or an executive needing pickup at the airport, or anything else, we strive to instill the mark of excellence.
    </p>
    <h3 class="h5 px-5 py-3 pt-5">As stated, LuxoCabs Luxury City Cabs provide exceptional "silver service" taxi cab service for a variety of occasions, including:</h3>
    <div class="row listPadding py-3">
            <div class="col-md-6 col-sm-12">
                <div class="list-group">
                    <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                       <i class="fa fa-star fa-1x p-2 " ></i>Wedding and Reception Services
                    </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>	Corporate Travel
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>	A Special Night on the Town
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>	Airport Drop Off/Pick Up*
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>	Family Reunion Transportation
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>More
                        </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 ">
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>	City Tours
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Hospital to Home
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Doctor or Hospital Appointment
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>	Designated Driver Services 
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>	Shopping Mall or Grocery Store
                            </div>
                    </div>
                    
            </div>
    </div>
    <p class="mb-3 textLine">
        <b>*PLEASE NOTE: </b>
        Luxury Taxi to Melbourne airport or cabs pickups: The pickup point is opposite the southern taxi rank and in front of Park Royal Hotel. For inside pickup service from the terminals, watch for your name posted on a card being held by your driver inside the terminal gates.
    </p>
  </div>

</div>