<!--Footer-->
<footer class="page-footer mdb-color text-center black text-md-left pt-4 mt-4">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
                        <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-3 bottomBox">
                <h5 class="title bottomBoxHover">Site Map</h5>
                <ul class="list-unstyled">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 col-sm-6"> <a class="bottomLink" href="#!">Home </a></div>
                        <div class="col-md-6 col-xs-12 col-sm-6" ><a class="bottomLink" href="#!">Profile</a></div>
                        <div class="col-md-6 col-xs-12 col-sm-6"><a class="bottomLink" href="#!">Other links</a></div>
                        <div class="col-md-6 col-xs-12 col-sm-6"> <a class="bottomLink"  href="#!">Sing Up</a></div>
                        <div class="col-md-6 col-xs-12 col-sm-6"> <a class="bottomLink"  href="#!">Login</a></div>
                        <div class="col-md-6 col-xs-12 col-sm-6"> <a class="bottomLink"  href="#!">Other </a></div>
                    </div>
                   
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-3 bottomBox">
                <h5 class="title bottomBoxHover">Reach Us</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;+61 452 622 391


                    </li>
                    <li>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;social.luxocabs @gmail.com
                    </li>

                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-md-3 bottomBox">
                <h5 class="title bottomBoxHover">Address</h5>
                <ul class="list-unstyled">
                    <i class="fa fa-map-marker" aria-hidden="true"> </i>&nbsp;&nbsp;&nbsp;Luxury Cab Services Melbourne,VIC 3174 Australia Melbourne, Victoria, Australia
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>
    <div class="row justify-content-md-center">
    <div class="col-12 col-md-5">
        <a href=""><h6 class="text-center bottomBox"><small >Review Us on </small> </h6>
        <h4 class="title text-center textYellow">Yell.com</h4></a>
        <div class="row textWhite">
            <div class="col-md-5 borderBottom mb-2">
               
            </div>
            <div class="col-md-2 text-center">or</div>
            <div class="col-md-5 borderBottom mb-2">
                
            </div>
        </div>
        <div class="text-center mb-3">

            <a href="https://www.facebook.com/luxurycabsservicesmelbourne/" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
                <i class="fa fa-facebook"> </i>
            </a>
            <a href="https://plus.google.com/117709327860690118057" class="btn-floating btn-small btn-gplus waves-light" mdbWavesEffect>
                <i class="fa fa-google-plus"> </i>
            </a>
            <a href="https://www.linkedin.com/in/luxo-cabs-a13823153/" class="btn-floating btn-small btn-li waves-light" mdbWavesEffect>
                <i class="fa fa-linkedin"> </i>
            </a>
            <a href="https://twitter.com/Luxoqualitycabs" class="btn-floating btn-small btn-ins waves-light" mdbWavesEffect>
                <i class="fa fa-instagram"> </i>
            </a>
    
        </div>
    </div>
</div>

    <hr>

    <!--Social buttons-->
    
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Copyright:
            <a class="bottomLink" href="#!"> Luxocabs.com.au </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>