<div class="container top-margin">
    <h1 class="py-3 font-weight-bold text-center">Services</h1>
    <!--Section description-->
    <p class="px-5 mb-3 pb-2 h6 textLine">
        As Melbourne's premier Door to Door luxury cabs service running cab 24/7 for over ten years, we've built a reputation for providing flawless, excellent service. Our coveted reputation was established one customer at a time, evoking admiration and envy in the industry.        
    </p>
    <p class="px-5 mb-3 pb-2 h6 textLine">
            We treat every customer as though they were our most important - because they are - with steadfast and firm reliance on our wish to serve with confidence. When you sit inside one of our 500+ fleet of luxury cab vehicles, you'll notice how well-maintained, clean, and comfortable they are.
    </p>
    <p class="px-5 mb-3 pb-2 h6 textLine">
            Our cost-effective rates will be a reflection of your good insight, as you'll note that our rate structures are much less than what you're currently paying for 'Limousine Rates.'
    </p>
    <p class="px-5 mb-3 pb-2 h6 textLine">
            Every one of our cars uses GPS navigational system to ensure that you get to your destination as promptly and efficiently as possible. Punctuality is our middle name.
    </p>
    <p class="px-5 mb-3 pb-2 h6 textLine">
            We are continually checking and maintaining the condition of our vehicles, both inside and out. Each day begins with a quick review and update for our drivers as they prepare for the day of serving customers.
    </p>
    <h3 class="h4 px-5 py-3 pt-5">As stated, LuxoCabs provide exceptional taxi cab service for a variety of occasions, including:</h3>
    <div class="row listPadding py-3">
            <div class="col-md-6 col-sm-12">
                <div class="list-group">
                    <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                       <i class="fa fa-star fa-1x p-2 " ></i>A Special Night on the Town
                    </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Airport Drop Off/Pick Up*
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Corporate Travel
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Wedding and Reception Services
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Family Reunion Transportation
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>City Tours
                        </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 ">
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Designated Driver Services
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Hospital to Home
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Doctor or Hospital Appointment
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Shopping Mall
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Grocery Store
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>More
                            </div>
                    </div>
            </div>
    </div>
    <h5 class="mb-2 pb-5 px-5" >Whether you're looking for Executive, Leisure, or Specialized Services, you've come to the right place.</h5>
    <div class="row listPadding my-5">
        <div class="col-md-6 col-sm-12">
                <h3 class="h4">Executive Services Include:</h3>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Hotel
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Restaurant
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Airport
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Resort
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Corporate Functions
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Business Meetings
                        </div>
                </div>
        </div>
        <div class="col-md-6 col-sm-12">
                <h3 class="h4">Personal Services Include:</h3>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Wineries
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Breweries
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Theatres
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Concerts
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Sporting Events
                        </div>
                </div>
                <div class="list-group">
                        <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                           <i class="fa fa-star fa-1x p-2 " ></i>Weddings
                        </div>
                </div>
        </div>
    </div>
    <div class="row listPadding pt-5 pb-2">
            <div class="col-md-12 col-sm-12">
                <h3 class="h4">Specialized Services include:</h3>
            </div>
            <div class="col-md-6 col-sm-12">
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>To and from Drug & alcohol treatment centers
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Residential Treatment Facility
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Psychiatric hospitals
                            </div>
                    </div>
            </div>
            <div class="col-md-6 col-sm-12">
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Rehabs
                            </div>
                    </div>
                    <div class="list-group">
                            <div style="border: none;" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                               <i class="fa fa-star fa-1x p-2 " ></i>Private schools
                            </div>
                    </div>
            </div>
    </div>
    <h6 class=" pb-3 px-5">*PLEASE NOTE: Melbourne airport taxi service pickups: The pickup point is opposite the southern taxi rank and in front of Park Royal Hotel. For inside pickup service from the terminals, watch for your name posted on a card being held by your driver inside the terminal gates.</h6>

</div>