
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mdb-navbar SideClass="navbar navbar-expand-lg black navbar-dark scrolling-navbar">
        <logo>
          <a class="navbar-brand" href="#">Luxocabs</a>
        </logo>
        <links >
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item ">
                    <a class="nav-link waves-light"  mdbWavesEffect>Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" href="#" mdbWavesEffect>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" href="#" mdbWavesEffect>Logout</a>
                </li>
            </ul>
            
        </links>
    </mdb-navbar> 
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav  opened="true"  [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
          <mat-nav-list>
                <a routerLink="/admin-app" >Home</a>
          </mat-nav-list>
          <mat-nav-list>
                <a routerLink="/admin-app/dashboard/cab-fare">Cab Fare</a>
          </mat-nav-list>
          <mat-nav-list>
                <a routerLink="/admin-app/dashboard/users">User</a>
          </mat-nav-list>
          <mat-nav-list>
              <a routerLink="/admin-app/dashboard/bookings">Bookings</a>
          </mat-nav-list>
      <mat-nav-list>
                  <a routerLink="." >More</a>
          </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
            <mat-toolbar color="primary" class="example-toolbar">
                <button  class="togleButton" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
                <h1 class="example-app-name">Tab name</h1>
            </mat-toolbar>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
   
   
  
  
  
               
           
    
      
