
<div class="container top-margin">
        <form class="form-container" *ngIf='editbox' #fareForm="ngForm">
                <mat-form-field>
                    <input type="text" name="flagFallFare" matInput [(ngModel)]="UserModel.firstName" placeholder="Frist Name">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" name="distanceFare" matInput [(ngModel)]="UserModel.lastName" placeholder="Last Name">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" name="bookingFees" matInput [(ngModel)]="UserModel.email" placeholder="Email">
                </mat-form-field>
                <button  mat-raised-button color="primary" (click)="updateUser()">Update Fare</button>
                <button *ngIf='UserModel._id' mat-raised-button color="warn" (click)="cancel()">Cancel</button>
            </form>
  <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="_id">
              <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pickupAddress">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.firstName }} {{element.lastName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pickupDate">
              <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="stripeToken">
              <mat-header-cell *matHeaderCellDef> Mobile Number </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operation">
              <mat-header-cell *matHeaderCellDef> Operation </mat-header-cell>
              <mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="editUser(element)"> 
                    <mat-icon>edit</mat-icon>  
                  </button>
              </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
  </div>
</div>